<textarea id="shaderEditor" width="100%" rows="10" cols="60" color="white" style="width: 100%; height: 500px; font-family: monospace; background-color: #222; color: #fff; border: none; padding: 10px; resize: vertical;">
    {{ .Inner | safeHTML }}
</textarea>
<canvas id="shaderCanvas" style="display:block; width:100%; height:500px;"></canvas>

<script>
const canvas = document.getElementById("shaderCanvas");
const sandbox = new GlslCanvas(canvas);
const editor = document.getElementById("shaderEditor");

function resizeCanvasToCSSSize() {
    const displayWidth = canvas.clientWidth;
    const displayHeight = canvas.clientHeight;

    // Only update if size changed
    if (canvas.width !== displayWidth || canvas.height !== displayHeight) {
      canvas.width = displayWidth;
      canvas.height = displayHeight;
    }
  }

// Resize initially and on window resize
resizeCanvasToCSSSize();
sandbox.load(editor.value);
editor.addEventListener("input", () => {
    sandbox.load(editor.value);
});
</script>