/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600&family=Source+Code+Pro:wght@400;600&display=swap');

textarea,
select,
input,
progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

html {
    /* Set the font globally */
    font-family: var(--sans-font);
    scroll-behavior: smooth;
  }

body {
    font-family: Georgia, serif;
    background-color: rgb(250, 250, 250);
    font-size: 20px;
    line-height: 1.5em;
    padding: 5px;
    color: var(--text);
    background-color: var(--bg);
    font-size: 1.15rem;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr min(45rem, 90%) 1fr;
    margin: 0;
}

main {
    margin: 0 auto;
    width: 850px;
}

header {
    text-align: left;
    padding: 10px 0px 0px 0px;
}
/* Add a little padding to ensure spacing is correct between content and header > nav */
main {
    padding-top: 1.5rem;
  }
  

h1 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #000000; /* Accent color for headings */
    font-weight: bold;
    grid-column: text;
    text-wrap: wrap;
}

h2 {
    font-family: "Segoe UI", sans-serif;
    font-size: 26px; /* 200% of 16px body text */
    font-weight: 600;
    color: #383838; /* Accent color for headings */
    margin-bottom: 10px;
}

h3 {
    font-family: "Segoe UI", sans-serif;
    text-decoration: underline;
    font-size: 24px; /* 200% of 16px body text */
    font-weight: 600;
    margin-bottom: 20px;
    color: #141414; /* Accent color for headings */
    margin-bottom: 10px;
}

h4{
    font-family: "Segoe UI", sans-serif;
    font-size: 22px; /* 200% of 16px body text */
    font-weight: 600;
    color: #141414; /* Accent color for headings */
    margin-top: 40px;
    margin-bottom: 30px;
}

p {
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    line-height: 1.7em;
    font-weight: 400;
    margin: 1.5rem 0;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.image_subtext{
    font-size: 16px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    padding-bottom: 20px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 850px;
    max-height: 500px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

.rss{
    width: fit-content;
    height: fit-content;
}

/* Use mono font for code elements */
code,
pre,
pre span,
kbd,
samp {
  font-family: var(--mono-font);
  color: var(--code);
}

/* Fix embedded code within pre */
pre code {
    color: var(--preformatted);
    background: none;
    margin: 0;
    padding: 0;
  }

p code{
    background-color: rgb(240, 240, 240);
    padding: 5px;
    border-radius: 5px;
}

pre{
    border-radius: 5px;
    overflow: scroll;
}

code {
    min-width: 50px;
    width: fit-content;
    font-size: 14px;
    line-height: 1.6em;
    overflow-x: auto;
	height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

}

blockquote{
	font-style: italic;
	padding: 5px;
	padding-left: 20px;
	margin-left: 0px;
	font-size: 1.2em;
	border-left: 5px solid #ddd;
	background-color: #f9f9f9;
    width: 100%;
}

blockquote p{
    font-size: 20px;
	margin-bottom: 18px;
}

audio{
    width: 100%;
    min-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}



#callout{
    font-size: 18px;
}

  div.highlight pre {
    word-break: break-all;
  }
  

@media (max-width: 764px) {
    main {
        width: 95%;
    }

    img{
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
    }

    p{
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        color: #000000;
    }

    pre code{
        /* Fixes iOS font sizing anomaly */
        text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        border-radius: 5px;
        font-size: 9px;
    }

    span{
        block-size: 1.8em;
    }

    
    
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}