<!doctype html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
  <meta charset="UTF-8" />
  <head>
    <script src="/js/script.js"></script>
    <script>
      (function () {
        try {
          const isDark = localStorage.getItem('theme') === 'dark-mode' ||
            (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);
          if (isDark) {
            const body = document.body;
            body.classList.toggle('dark-mode');
          }
        } catch (e) {}
      })();
    </script>
    {{ partial "google-analytics.html" . }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{- partial "favicon.html" . -}}
    <title>
      {{- block "title" . -}}
        {{- if not .IsHome -}}
          {{ with .Title }}{{ . }}&nbsp;|&nbsp;{{ end }}
        {{- end -}}
        {{ .Site.Title }}
      {{- end -}}
    </title>

    {{- partial "seo_tags.html" . -}}
    <meta name="referrer" content="no-referrer-when-downgrade" />

    {{ $simple := resources.Get "simple.css" | minify }}
    <link href="{{ $simple.RelPermalink }}" rel="stylesheet" />

    {{ $style := resources.Get "style.css" | minify }}
    <link href="{{ $style.RelPermalink }}" rel="stylesheet" />

    {{ with .Params.style }}
      {{ $extra := resources.Get . | minify }}
      <link href="{{ $extra.RelPermalink }}" rel="stylesheet" />
    {{ end }}

    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ if .Param "math" }}
      {{ partialCached "math.html" . }}
    {{ end }}

    <!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
    {{- partial "custom_head.html" . -}}
  </head>

  <body class="{{ if .Params.toc }}has-page-toc{{ end }}">
    <header>
      {{ partial "header.html" . }}
    </header>
    
    <div class="theme-toggle-wrap">
    {{ partial "dark_mode_toggle.html" . }}    
    </div>

    {{ if .Params.toc }}
      <details class="page-toc" open>
        <summary>Table of Contents</summary>
        {{ .TableOfContents }}
      </details>
    {{ end }}
    
    {{ block "main" . }}{{ end }}

    <footer>
      {{ partial "footer.html" . }}
    </footer>
  
    <!-- A partial to be overwritten by the user.
  Simply place a custom_body.html into
  your local /layouts/partials-directory -->
    {{- partial "custom_body.html" . -}}
  </body>
</html>
