{{ define "main" }}
  <content>
    {{ if .Data.Singular }}
      <h3>Filtering for "{{ .Title }}"</h3>
      <small>
        <a href="{{ relURL "blog" }}">Remove filter</a>
      </small>
    {{ end }}
    {{ if or .Paginator.HasPrev .Paginator.HasNext }}
      {{- partial "pagination.html" . -}}
    {{ end }}

    <!-- Total pages count-->
    {{ $total := len .RegularPagesRecursive }}
    {{ if eq $total 0 }}
    {{ else }}
      <p class="list-total-posts">
        <span>Total Posts</span>
        <span class="list-total-posts-count">{{ $total }}</span>
      </p>
    {{ end }}

    <!-- Child section quick links -->
    {{- $sections := where .Pages "IsSection" true -}}
    {{- $sortedSections := sort $sections "Params.order" "asc" -}}
    {{ if gt (len $sortedSections) 0 }}
      <div class="list-link-buttons">
        {{ range $sortedSections }}
          <a class="list-link-button" href="{{ .RelPermalink }}">
            <span class="list-link-button-title">➥ {{ .Title }}</span>
            <span class="list-link-button-count">{{ len .RegularPagesRecursive }}</span>
          </a>
        {{ end }}
      </div>
    {{ end }}
    
    {{ if or .Paginator.HasPrev .Paginator.HasNext }}
      {{- partial "pagination.html" . -}}
    {{ end }}

    <ul class="blog-posts">
      {{ range .Paginator.Pages }}
        {{ if not .Draft }}
        <li>
          <span>
            <i>
              <time datetime="{{ .Date.Format "01-02-2006" }}" pubdate>
                {{ .Date.Format (default "Jan 2, 2006" .Site.Params.dateFormat) }}
              </time>
            </i>
          </span>

          <!--
          <a class="dot" href="{{ .RelPermalink }}"></a>
          -->
          <div class="blog-separator">
          

          </div>
          {{ if .Params.link }}
            <a class="list-post-title list-post-title-external" href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer">{{ .Title }} ↪</a>
          {{ else }}
            <div class="list-post-main">
            <a class="list-post-title" href="{{ .RelPermalink }}">{{ .Title }}</a>

            <!--Description
            <p class="description" style="margin:0px;">
              {{ if .Description }}
                {{ .Description | safeHTML }}
              {{ end }}
            </p>
            -->
          </div>

            <div class="list_page_tags">
              {{ range .GetTerms "categories" }}
                <a class="list-taxonomy-chip" href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a>
              {{ end }}
            </div>

            <!-- Mini Image 
            {{ if .Params.image }}
            <img style="border-radius: 10px; opacity: 1; filter: grayscale(50%); box-shadow:none; margin-left: 15px; width:60px; height:40px; object-fit: cover; align-items: left;margin:0px 10px 10px 10px;" src="{{ .Params.image }}" alt="{{ .Title }}" />
            {{ end }}
            -->
          {{ end }}
        </li>
        {{ end }}
      {{ else }}
        <li>No posts yet</li>
      {{ end }}
    </ul>
    {{ if not .Data.Singular }}
      <small>
        <div class="list-all-taxonomies">
          {{ range .Site.Taxonomies.categories }}
            <a class="list-taxonomy-chip" href="{{ .Page.RelPermalink }}">#{{ lower .Page.LinkTitle }}</a>
          {{ end }}
        </div>
      </small>
    {{ end }}
  </content>
{{ end }}
