{{ define "main" }}
<button onclick="goUpDirectory()" style="position: absolute; top: 1rem; left: 1rem; z-index: 1000;">
  ⬅ Back
</button>

  <content>
    {{ if .Data.Singular }}
      <h3>Filtering for "{{ .Title }}"</h3>
      <small>
        <a href="{{ relURL "blog" }}">Remove filter</a>
      </small>
    {{ end }}
    {{ if or .Paginator.HasPrev .Paginator.HasNext }}
      {{- partial "pagination.html" . -}}
    {{ end }}

    <!--If another list page is in here -->
    {{ range .Pages }}
      {{ if .IsSection }}
        <a class="link_button" href={{ .RelPermalink }}>
          ➥ {{ .Title }}: <div style="display:inline;">{{ len .RegularPagesRecursive }}</div>
        </a>
      {{ end }}
    {{ end }}
    <br>

    <ul class="blog-posts">
      {{ range .Paginator.Pages }}
        {{ if not .Draft }}
        <li>
          <span>
            <i>
              <time datetime="{{ .Date.Format "01-02-2006" }}" pubdate>
                {{ .Date.Format (default "01-02-2006" .Site.Params.dateFormat) }}
              </time>
            </i>
          </span>
          {{ if .Params.link }}
            <a href="{{ .Params.link }}" target="_blank">{{ .Title }} ↪</a>
          {{ else }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <!--align text right to left-->

            <!--
            <div style="margin-left: auto; margin-right: 0;">
              {{ range .GetTerms "categories" }}
                <code class="tag">
                  <a href="{{.RelPermalink }}">#{{ lower .LinkTitle}}</a>
                </code>
              {{ end }}
            </div>
            -->

          {{ end }}
        </li>
        {{ end }}
      {{ else }}
        <li>No posts yet</li>
      {{ end }}
    </ul>
    {{ if not .Data.Singular }}
      <small>
        <div>
          {{ range .Site.Taxonomies.categories }}
            <a href="{{ .Page.RelPermalink }}">#{{ lower .Page.LinkTitle }}</a>&nbsp;
          {{ end }}
        </div>
      </small>
    {{ end }}
  </content>
{{ end }}
