{{ define "main" }}
<button onclick="goUpDirectory()" style="position: absolute; top: 1rem; left: 1rem; z-index: 1000;">
  ⬅ Back
</button>

  <content>
    {{ if .Data.Singular }}
      <h3>Filtering for "{{ .Title }}"</h3>
      <small>
        <a href="{{ relURL "blog" }}">Remove filter</a>
      </small>
    {{ end }}
    {{ if or .Paginator.HasPrev .Paginator.HasNext }}
      {{- partial "pagination.html" . -}}
    {{ end }}

    <!--If another list page is in here -->
    {{- $pages := union .Pages (where .Pages "Section" "blog") -}}
    {{ $sortedPages := sort $pages "Params.order" "asc"}}

    {{ range $sortedPages }}
      {{ if .IsSection }}
        <a class="link_button" href={{ .RelPermalink }}>
          ➥ {{ .Title }} <div style="display:inline;"><h6 style="margin:0px; text-align: end;">{{ len .RegularPagesRecursive }}</h6></div>
        </a>
      {{ end }}
    {{ end }}
    <br>


    <!-- Total pages count-->
    {{ $total := len .RegularPagesRecursive }}
    {{ if eq $total 0 }}
    {{ else }}
      <p style="text-align: start;">Total Posts: {{ $total }}</p>
    {{ end }}

    {{ if or .Paginator.HasPrev .Paginator.HasNext }}
      {{- partial "pagination.html" . -}}
    {{ end }}

    <ul class="blog-posts">
      {{ range .Paginator.Pages }}
        {{ if not .Draft }}
        <li>
          <span>
            <i>
              <time datetime="{{ .Date.Format "01-02-2006" }}" pubdate>
                {{ .Date.Format (default "Jan 2, 2006" .Site.Params.dateFormat) }}
              </time>
            </i>
          </span>

          <!--
          <a class="dot" href="{{ .RelPermalink }}"></a>
          -->
          <div class="blog-separator">
          

          </div>
          {{ if .Params.link }}
            <a style="height: 100%;" href="{{ .Params.link }}" target="_blank">{{ .Title }} ↪</a>
          {{ else }}
            <div>
            <a style="height: 100%;" href="{{ .RelPermalink }}">{{ .Title }}</a>

            <!--Description
            <p class="description" style="margin:0px;">
              {{ if .Description }}
                {{ .Description | safeHTML }}
              {{ end }}
            </p>
            -->
          </div>

            <div class="list_page_tags" style="margin-left: auto; margin-right: 0; padding-right:25px;">
              {{ range .GetTerms "categories" }}
                <code class="tag">
                  <a href="{{.RelPermalink }}">#{{ lower .LinkTitle}}</a>
                </code>
              {{ end }}
            </div>

            <!-- Mini Image -->
            {{ if .Params.image }}
            <img style="border-radius: 10px; opacity: 1; filter: grayscale(50%); box-shadow:none; margin-left: 15px; width:60px; height:40px; object-fit: cover; align-items: left;margin:0px 10px 10px 10px;" src="{{ .Params.image }}" alt="{{ .Title }}" />
            {{ end }}

          {{ end }}
        </li>
        {{ end }}
      {{ else }}
        <li>No posts yet</li>
      {{ end }}
    </ul>
    {{ if not .Data.Singular }}
      <small>
        <div>
          {{ range .Site.Taxonomies.categories }}
            <a href="{{ .Page.RelPermalink }}">#{{ lower .Page.LinkTitle }}</a>&nbsp;
          {{ end }}
        </div>
      </small>
    {{ end }}
  </content>
{{ end }}
