{{ define "main" }}
<button onclick="goUpDirectory()" style="position: absolute; top: 1rem; left: 1rem; z-index: 1000;">
  ⬅ Back
</button>

  <!-- Show banner image-->  
  <div class="banner">
    {{ if .Params.image }}
      <img src="{{ .Params.image }}" alt="Banner image" style="width: 100%; height: auto;">
    {{ end }}
  </div>

  {{ if eq .Type "blog" }}
    {{ if not .Params.menu }}
      {{ $tags := .GetTerms "tags" }}
      {{ $categories := .GetTerms "categories" }}
        <p>
          {{ if gt (len $categories) 0 }}
            Categories:
            {{ range $categories }}
            <code class="tag">
              <a href="{{.RelPermalink }}">#{{ lower .LinkTitle }}</a>&nbsp;
            </code>
            {{ end }}
          {{ end }}
          <br>
          {{ if gt (len $tags) 0 }}
            Tags:
            {{ range $tags }}
            <code class="tag">
              <a href="{{.RelPermalink }}">#{{ lower .LinkTitle }}</a>&nbsp;
            </code>
            {{ end }}
          {{ end }}
        </p>
    {{ end }}
  {{ end }}

  
  {{ .Content }}

  {{ with site.RegularPages.Related . | first 5 }}
    
    <p>Related content:</p>
    <div class="card-grid">
      {{ range . }}
        {{ partial "page_card.html" . }}
      {{ end }}
    </div>
  {{ end }}
{{ end }}
