{{ define "main" }}
  {{ if eq .Type "blog" }}
    {{ if not .Params.menu }}
      {{ $tags := .GetTerms "tags" }}
      {{ $categories := .GetTerms "categories" }}
      {{ if or (gt (len $categories) 0) (gt (len $tags) 0) }}
        <div class="article-taxonomy-meta">
          {{ if gt (len $categories) 0 }}
            <div class="article-taxonomy-group">
              <span class="article-taxonomy-label">Categories</span>
              <div class="article-taxonomy-items">
                {{ range $categories }}
                  <a class="article-taxonomy-chip" href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a>
                {{ end }}
              </div>
            </div>
          {{ end }}
          {{ if gt (len $tags) 0 }}
            <div class="article-taxonomy-group">
              <span class="article-taxonomy-label">Tags</span>
              <div class="article-taxonomy-items">
                {{ range $tags }}
                  <a class="article-taxonomy-chip" href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a>
                {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  {{ end }}

  
  {{ .Content }}

  {{ with site.RegularPages.Related . | first 3 }}
    <!--Divider-->
    <h5 style="margin: 1rem 0rem;">Related content:</h5>
    <div class="card-grid">
      {{ range . }}
        {{ partial "page_card.html" . }}
      {{ end }}
    </div>
  {{ end }}
{{ end }}
