{{ define "main" }}
<button onclick="history.back()" style="position: absolute; top: 1rem; left: 1rem; z-index: 1000;">
  ⬅ Back
</button>
  {{ if eq .Type "blog" }}
    {{ if not .Params.menu }}
      {{ $tags := .GetTerms "tags" }}
      {{ $categories := .GetTerms "categories" }}
      {{ if gt (len $tags) 0 }}
        <p>
          Categories:
          {{ range $categories }}
            <a href="{{.RelPermalink }}">#{{ lower .LinkTitle }}</a>&nbsp;
          {{ end }}
          Tags:
          {{ range $tags }}
            <a href="{{.RelPermalink }}">#{{ lower .LinkTitle }}</a>&nbsp;
          {{ end }}
        </p>
      {{ end }}
    {{ end }}
  {{ end }}
  {{ if .Params.toc }}
    <details>
      <summary>Table of Contents</summary>
      {{ .TableOfContents }}
    </details>
  {{ end }}
  <content>
    {{ .Content }}
  </content>
{{ end }}
