<!--
	class: class of the figure
	link: url the image directs to
	alt: alternative text
	caption: caption
	source: source label below caption
	sourceLink: optional URL for source
	mouse: what the image says when moused over ("title" in HTML)
	preset|size: xs|sm|md|lg|xl|full (optional width preset)
-->
{{- $figureClasses := slice "viz-figure" -}}
{{- with .Get "class" -}}
  {{- $figureClasses = $figureClasses | append . -}}
{{- end -}}
<figure class="{{ delimit $figureClasses " " }}">
	{{- $preset := .Get "preset" | default (.Get "size") | default "md" -}}
	{{- $imgClasses := slice "img-preset" (printf "img-preset-%s" $preset) -}}
	{{- with .Get "link"}}<a href="{{.}}">{{ end -}}
	<img src="{{ .Get "src" }}" 
		 class="{{ delimit $imgClasses " " }}"
		 {{- with .Get "width" }} width="{{ . }}"{{ end -}}
		 {{- with .Get "height" }} height="{{ . }}"{{ end -}}
	     {{- with .Get "mouse" }} title="{{.}}"{{ end -}}
	     {{- with .Get "alt" }} alt="{{.}}"{{ end -}}
	>
	{{- if .Get "link"}}</a>{{ end -}}
	{{- with .Get "caption" -}}
	<figcaption>
	{{- . -}}
	</figcaption>
	{{- end -}}
	{{- with .Get "source" -}}
	<p class="viz-source">
		Source:
		{{- with $.Get "sourceLink" -}}<a href="{{ . }}">{{ $.Get "source" }}</a>{{- else -}}{{ . }}{{- end -}}
	</p>
	{{- end -}}
</figure>
