<!--
	class: class of the figure
	link: url the image directs to
	alt: alternative text
	caption: caption
	mouse: what the image says when moused over ("title" in HTML)
	preset|size: xs|sm|md|lg|xl|full (optional width preset)
-->
<div>
{{- $title := .Get "mouse" | default (.Get "description") -}}
{{- $preset := .Get "preset" | default (.Get "size") | default "md" -}}
{{- $classes := slice "img-preset" (printf "img-preset-%s" $preset) -}}
{{- with .Get "class" -}}
  {{- $classes = $classes | append . -}}
{{- end -}}
<img src="{{ .Get "src" }}" 
		 class="{{ delimit $classes " " }}"
		 {{- with .Get "width" }} width="{{ . }}"{{ end -}}
		 {{- with .Get "height" }} height="{{ . }}"{{ end -}}
		 {{- with $title }} title="{{.}}"{{ end -}}
	     {{- with .Get "alt" }} alt="{{.}}"{{ end -}}
	>
<!--Description-->
{{- with .Get "caption" }}
	<figcaption style="margin:0px;" class="figure-caption">
		{{ . }}
	</figcaption>
{{ end -}}
</div>
