{{/* banner.html – expects . to be a Page object */}}

{{- $imgName := .Params.image | default "default.png" -}}
{{- $img     := resources.Get (printf "banners/%s" $imgName) -}}
{{- if not $img }}
  {{ errorf "Banner %q not found in assets/banners/" $imgName }}
{{- end }}

{{- $banner := $img -}}
{{- if eq $img.ResourceType "image" -}}
  {{- $banner = $img.Resize "1280x webp q82" -}}
{{- end -}}

<img src="{{ $banner.RelPermalink }}"
     width="{{ $banner.Width }}" height="{{ $banner.Height }}"
     loading="lazy"
     alt="{{ .Title }}">
