{{ with .Site.Copyright }}
  <span>{{ . }}</span>
{{ end }}
{{ if not .Site.Params.hideMadeWithLine }}
  <span>
    {{ if .Site.Copyright }}|{{ end }}
    Contact
    <div style="display: flex; gap: 1rem; flex-wrap: wrap; justify-content: center;">
      <a href="https://www.linkedin.com/in/michaelmuratov/">
          <img src="/img/icons/linkedin_logo.png" alt="LinkedIn" style="width: 30px; height: 30px;"/>
      </a>
      <a href="https://x.com/MichaelMuratov">
        <img src="/img/icons/x_logo.png" alt="X" style="width: 30px; height: 30px;"/>
      </a>
    </div>
  </span>
{{ end }}
