{{ define "main" }}
  <content>
    {{ $series := .Pages.ByTitle }}
    {{ $total := len $series }}
    {{ if gt $total 0 }}
      <p class="list-total-posts">
        <span>Total Series</span>
        <span class="list-total-posts-count">{{ $total }}</span>
      </p>
    {{ end }}

    {{ if gt (len $series) 0 }}
      <div class="list-link-buttons">
        {{ range $series }}
          {{ $seriesPublished := where .Pages "Draft" false }}
          <a class="list-link-button" href="{{ .RelPermalink }}">
            <span class="list-link-button-title">➥ {{ .LinkTitle }}</span>
            <span class="list-link-button-count">{{ len $seriesPublished }}</span>
          </a>
        {{ end }}
      </div>
    {{ end }}
  </content>
{{ end }}
