<nav class="side-nav header-quick-nav" aria-label="Section navigation">
  {{- $isHomeActive := .IsHome -}}
  {{- $isStoriesActive := hasPrefix .RelPermalink "/blog/stories/" -}}
  {{- $isArtifactsActive := hasPrefix .RelPermalink "/blog/artifacts/" -}}
  {{- $isSearchActive := hasPrefix .RelPermalink "/search/" -}}
  <ul class="side-nav-list" role="list">
    <li>
      <a href="{{ relURL "/" }}" title="Home" aria-label="Home" {{ if $isHomeActive }}class="current" aria-current="page"{{ end }}>
        Home
      </a>
    </li>
    <li>
      <a href="{{ relURL "blog/stories/" }}" title="Stories" aria-label="Stories" {{ if $isStoriesActive }}class="current" aria-current="page"{{ end }}>
        Stories
      </a>
    </li>
    <li>
      <a href="{{ relURL "blog/artifacts/" }}" title="Artifacts" aria-label="Artifacts" {{ if $isArtifactsActive }}class="current" aria-current="page"{{ end }}>
        Artifacts
      </a>
    </li>
    <li>
      <a href="{{ relURL "search/" }}" title="Search" aria-label="Search" {{ if $isSearchActive }}class="current" aria-current="page"{{ end }}>
        Search
      </a>
    </li>
  </ul>
</nav>
